
@font-face {
  font-family: "Bebas";
  src: url("../font/BebasNeueRegular.otf") format("opentype"),
  url("../font/BebasNeueRegular.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  
  }
body {
  background-color:rgb(45,32,88);
  color:white;
  font-family: 'Bebas' !important;
  font-weight: 300;
  font-style: normal;
}



.nav-bar {
  padding-top: 20px !important;
} 
.navbar-element-l {
  width:50% !important;
}
.navbar-element-r{
  width:40% !important;
}
@media only screen and (max-width: 768px) {
  .navbar-element-l {
    width:100% !important;
  }
  .navbar-element-r {
    width:100% !important;
  }
}

.img_logo {
  width: 10%;
  margin-left: 1%;
  bottom: 10px;
  position: relative;
}
.text_left {
  color:white;
  padding-left: 2%;
  font-size: 28px;
  
}




.text_right_1 {
  color:white;
  font-weight: bold;
  font-size: 48px;
  text-align: right;
  margin-bottom: 0px;
}





.text_right_2 {
  color:white;
  font-size: 28px;
  text-align: right;
  margin-top: -20px;
}


@media only screen and (max-width: 768px) {
  .text_left {
    color:white;
    padding-left: 0%;
    font-size: 24px;
    
  }
}


@media only screen and (max-width: 768px) {
  .text_right_1 {
    color:white;
    
    font-size: 24px;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .text_right_2 {
    color:white;
    font-size: 24px;
    text-align: left;
    padding-top: 24px;
  }
}

.btn-primary {
  font-size: 1.75rem;
  background: #f70645;
  border:none;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
  background: #E52859 !important;
  border:none !important;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  video {
    display:none
    }
}

@media only screen and (max-width: 768px) {
  .btn-primary  {
    font-size: 1.5rem;
  }
}


.img-principal {
  width:30%;
 
}

@media only screen and (max-width: 768px) {
  .img-principal {
    width: 100%;
    
  }
}

.iframe {
  width: 50%;
  height: 60vh;
}

@media only screen and (max-width: 768px) {
  .iframe {
    width: 100%;
    height: 30vh;
  }
}

.footer {
  background-color: #f70645 !important;
  padding: 1rem;
  padding-bottom: 5px; 
  display: none;
}

.footer_p {

  font-weight: 600;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  margin: 0;
}

.footer_p_light {
  font-weight: 300
}

p.girolabs {
  text-align: right;
  font-size: 11px;
}

p.girolabs a {
  color: white;
}





